@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: linear-gradient(to bottom right, #ac8b7c, #bb9e8f);
  font-family: 'Source Sans Pro', sans-serif;
}
button,
input {
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  /* padding: 1rem 0; */
}

.btn{
  z-index: 5;
}
/* Header */
.top-bar img{
  padding-top: 10px;
  position: absolute;
  width: 25px;
}

.top-bar{
  background-color: #fff;
  color: #000;
  height: 50px;
  line-height: 50px;
  margin-bottom: 2vw;
  padding-right: 5vw;
  text-align: end;
}
.home-header {
  text-align: center;
  width: 100%;
}
.home-header h1 {
  color:white;
  font-size: 5.5rem;
  opacity: 0.8;
}
.home-header h1 span {
  color: white;
}
.home-header p {
  color: #315b60;
  font-weight: 500;
}
.home-header h2 {
  color: white;
  font-size: 1.5rem;
  opacity: 0.65;
}

/* styling paper */
.paper {
  width: 75%;
  height: 100%;
  position: relative;
  margin: 10px auto;
  opacity: 0.9;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling text content */
.content {
  padding-top: 6px;
  padding-left: 25px;
  padding-right: 16px;
  line-height: 25px;
  font-size: 19px;
  letter-spacing: 1px;
  text-align: left;
  word-spacing: 4px;
}
.content a{
  color: #315b60;
  text-decoration: none;
}
.content p{
  color: #315b60;
}
.content span{
color: #e27d5f;
}

/* Blog List */
.blogList-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
@media (max-width: 768px) {
  .blogList-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .blogList-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

.psuedo-footer{
  background-color: white;
  padding: 1rem;
  margin-top: 5rem;
  text-align: center;
}
.psuedo-footer a{
  color: #315b60;
  text-decoration: none;
}
.logoBar{
  margin: 0 auto;
  padding-top: 1%;
  width: 35%;
}

.logoBar a{
  padding: 4%;
}
.pink{
  color: #c25736;
  font-size: 0.75rem;
}

.announcement{
  opacity: 0.5;
  text-align: center;
  padding: 15%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  left: 12px;
  top: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e27d5f;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #933316;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  opacity: 0.9;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.menu-item {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: left;;
  text-decoration: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(221, 1, 1, 0.3);
}
